@using System.Collections
@model IEnumerable<Vaccinator.Models.Personne>

@{
    ViewData["Title"] = "Index";
}

<h1>Personne</h1>
    
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Chercher par nom: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]"/>
            <input type="submit" value="Recherche" class="btn btn-default"/>
        </p>
    </div>
</form>


<form asp-action="Index" method="get">
    @Html.DropDownList("choosenMaladie",new SelectList((IEnumerable)@ViewData["listeMaladies"]))
    @Html.DropDownList("date",new SelectList((IEnumerable)@ViewData["listeYears"],"Selectionnez une date"))
    <input type="submit" value="Vaccinés" class="btn btn-default" name="submitFilter"/> |
    <input type="submit" value="Non Vaccinés" class="btn btn-default" name="submitFilter"/>
</form>

<form asp-action="Index" method="get">
    <input type="submit" value="Rappel en retard" class="btn btn-default" name="noRappelSubmit"/>
</form>

<p>
    <a asp-action="Index">Retour à la liste complète</a>
</p>

<p>
    <a asp-action="Create">Créer un nouveau</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["NomSortParam"]">@Html.DisplayNameFor(model => model.nom)</a> 
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["PrenomSortParam"]">@Html.DisplayNameFor(model => model.prenom)</a> 
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.ddn)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.sexe)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.role)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ddn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sexe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role)
            </td>
            <td>
                <a asp-action="InjectionPerPersonne" asp-route-uuid="@item.uuid">Injections</a> |
                <a asp-action="Edit" asp-route-uuid="@item.uuid">Edition</a> |
                <a asp-action="Details" asp-route-uuid="@item.uuid">Details</a> |
                <a asp-action="Delete" asp-route-uuid="@item.uuid">Suppression</a>
            </td>
        </tr>
    }
    </tbody>
</table>