@model IEnumerable<Vaccinator.Models.Injection>

@{
    ViewData["Title"] = "InjectionPerPersonne";
}

<h1>Injection</h1>

<p>
    <a asp-controller="Injection" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Maladie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marque)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.NumLot)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Personne)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.DatePrise)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.DateRappel)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.StatusRappel)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Maladie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumLot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personne.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePrise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRappel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusRappel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-uuid="@item.uuid">Edit</a> |
                <a asp-action="Details" asp-route-uuid="@item.uuid">Details</a> |
                <a asp-action="Delete" asp-route-uuid="@item.uuid">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>