@model IEnumerable<Vaccinator.Models.Injection>

@{
    ViewData["Title"] = "InjectionPerPersonne";
    var personne = ViewData["Personne"] as Personne;
}

<h1>Injection de @personne.nom @personne.prenom</h1>

<p>
    <a asp-controller="Injection" asp-route-uuid="@personne.uuid" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Maladie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marque)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.NumLot)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.DatePrise)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.DateRappel)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.StatusRappel)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Maladie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumLot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePrise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRappel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusRappel)
            </td>
            <td>
                <a asp-action="Details" asp-route-uuid="@item.uuid">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>